@media (min-width: 992px) {
  #NPlogo1 {
    display: none;
  }
}

@media (max-width: 991px) {
  #NPlogo {
    display: none;
  }
}

body {
    background: url('../img/cairn.jpg') center center no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
